
  .container {
    background-color: #f0f4f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: rgb(29, 59, 90);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark {
    background-color: #1a202c;
    color: #e2e8f0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #1e3a8a;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  /* .header .div{
    display: flex;
    justify-content: space-between;
  } */
  
  .dark .header {
    background-color: #2d3748;
  }
  
  .logo {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tagIcon {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }
  
  .darkModeButton {
    background: none;
    border: 0px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .darkModeButton:hover {
    background-color: #17327b;
    transform: scale(1.09);
  }
  
  .dark .darkModeButton {
    color: white;
  }

  .dark .darkModeButton:hover{
    background-color: #4a5568;
    transform: scale(1.05);
  }
  
  .searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .searchInput {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #e2e8f0;
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .dark .searchInput {
    background-color: #2d3748;
    color: white;
    border: 2px solid #4a5568;
  }
  
  .searchButton {
    width: fit-content;
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .dark .searchButton {
    background-color: #4a5568;
    color: white;
  }
  
  .favoriteButton {
    width: fit-content;
    background-color: #f0f4f8;
    color: #1e3a8a;
    border: 2px solid #1e3a8a;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .dark .favoriteButton {
    background-color: #4a5568;
    border: 2px solid #4a5568;
    color: white;
  }
  
  .favoriteButton:hover {
    background-color: #1e3a8a;
    transform: translate(-1%, -1%);
    color: #ffffff;
  }
  