.card {
  width: 230px;
  border-radius: 20px;
  background: #1b233d;
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 7px #1b233d;
}

/* .topSection {
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
  position: relative;
} */
.topSection {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.topSection img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: #1b233d;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #1b233d;
}

.border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #1b233d;
}

.icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  width: 100%; 
  gap: 10px; 
  margin: 0 auto; 
  text-align: center;
}

.svgg{
  fill:#ffffff;
}

.clickfav{
  fill: #a3bbff;
}

.svggread{
  fill:#ffffff;
}

.svggread a:visited{
  fill:#a3ffae;
}
.svggread a:visited{
  fill: #a3ffae;
}
.svggread:hover{
  transform: scale(1.09);
  fill: #a3ffae;
}

.svgg:hover{
  transform: scale(1.09);
  fill: #a3bbff;
}


.svg {
  height: 100%;
  fill: #f1f4ff;
}

.svg:hover {
  fill: white;
}

.bottomSection {
  margin-top: 15px;
  padding: 10px 5px;
}

.title {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.bigText {
  font-size: 12px;
  display: block;
}

.regularText {
  font-size: 9px;
}

.item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
}
